﻿@page
@using setting = CountingMember.Share.Setting
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/flip-text-plugin/jquery.bFlipText.css" />

<style>
    body {
        background-color: #ece8f1;
    }

    #score {
        position: absolute;
        width: 500px;
        height: 300px;
        bottom: 0px;
        right: 25%;
        left: 50%;
        margin-left: -250px;
        
    }

    #logo {
        position: absolute;
        width: 10%;
        right: 0px;
        margin: 2%;
    }
</style>

<img id="logo" src="@Url.Content("~/img/aeon-logo.png")" alt="Aeon Logo">

<div id="score">
    <span id="num5"></span>
    <span id="num4"></span>
    <span id="num3"></span>
    <span id="num2"></span>
    <span id="num1"></span>
    <span id="num0"></span>
</div>

@section scripts{

    <script src="~/flip-text-plugin/jquery.bFlipText.js" asp-append-version="true"></script>


<script>
    var apiUrl = '/api/member';
    var my_style = { 'width': '69px', 'font-size': '45px', 'background': '#6555b2', 'color': '#fff' };
    var time_loop = 500;
    var currentTotal = "";

    $(document).ready(function () {
        $('#score span').bFlipText({ text: '0', css: my_style });

        var tid = setInterval(function () {
            loadScore();
        }, time_loop);
    });

    function loadScore() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var obj = jQuery.parseJSON(this.responseText);
                //realTotal = obj.memberTotal;
                if (obj.memberTotal === "")
                    updateScore("000000");
                else
                    updateScore(obj.memberTotal);
            }
        };
        xhr.open('get', apiUrl);
        xhr.send();
    }

    function updateScore(newTotal ="") {

        if (currentTotal == newTotal)
            return;

        for (var i = 0; i < newTotal.length; i++) {
            if (currentTotal.charAt(i) != newTotal.charAt(i)) {
                $('#score #num' + ((newTotal.length - 1) - i)).bFlipTextPlay(newTotal.charAt(i));
            }
        }

        currentTotal = newTotal;
    }

</script>
}