﻿@page
@model CountingMember.Pages.SettingModel
@using setting = CountingMember.Share.Setting
@{
    ViewData["Title"] = "Setting";
}
<h1 class="display-2 d-flex justify-content-center text-primary">Setting</h1>
<div id="sendedScore" class="d-flex justify-content-center alert alert-warning display-4">00</div>

<div class="text-primary">Score Running</div>
<div class="progress">
    <div id="scoreRunBar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div class="clearfix">
    <label id="scoreRunBarBegin" class="float-left text-black-50">00ms</label>
    <label id="scoreRunBarEnd" class="float-right text-black-50">00ms</label>
</div>
<button id="btnSkip" class="btn btn-warning btn-lg float-right" onclick="skipTimer();">Skip</button>
<div>
    <br /><br />
    <hr />
</div>

<div class="text-primary">Database</div>
<div class="progress">
    <div id="databaseBar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div class="clearfix">
    <label id="databaseBarBegin" class="float-left text-black-50">00ms</label>
    <label id="databaseBarEnd" class="float-right text-black-50">00ms</label>
</div>
<div class="form-group row">
    <label for="memberTotal" class="col-sm-3 col-form-label text-black-50">Member Total</label>
    <div class="col-sm-9">
        <input readonly class="form-control" type="text" name="memberTotal" value="0" id="memberTotal" />
    </div>
</div>
<div class="form-group row">
    <label for="delayTime" class="col-sm-3 col-form-label text-black-50">Delay Time</label>
    <div class="col-sm-5">
        <input onchange="$('#delayTimeBox').val($(this).val()); changedData();" type="range" class="custom-range" min="1000" max="1000000" step="500" id="delayTime">
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <input onchange="$('#delayTime').val($(this).val()); changedData();" class="form-control" type="number" name="delayTimeBox" value="0" id="delayTimeBox" />
            <div class="input-group-prepend">
                <span class="input-group-text">ms</span>
            </div>
        </div>
    </div>
</div>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1"
           onchange="setVisible($(this).prop('checked')); changedData();" checked>
    <label class="custom-control-label" for="customSwitch1">Update Database</label>
</div>
<div class="form-group float-right">
    <button id="saveBtn" class="btn btn-primary btn-lg" onclick="onSave();" disabled>Save</button>
    <button id="updateBtn" class="btn btn-warning btn-lg" onclick="forceUpdate();">Force Update</button>
    <button id="updateBtn" class="btn btn-danger btn-lg" onclick="onReset();">Reset</button>
</div>

@section scripts{


    <script>
        var apiUrl = '/api/member';

        var sendedScore = $("#sendedScore");
        var scoreRunBar = $("#scoreRunBar");
        var scoreRunBarBegin = $("#scoreRunBarBegin");
        var scoreRunBarEnd = $("#scoreRunBarEnd");

        var databaseBar = $("#databaseBar");
        var databaseBarBegin = $("#databaseBarBegin");
        var databaseBarEnd = $("#databaseBarEnd");

        var memberTotal = $("#memberTotal");
        var delayTimeBar = $("#delayTime");
        var delayTimeBox = $("#delayTimeBox");

        var updateCheck = $("#customSwitch1");

        var saveBtn = $("#saveBtn");
        var btnSkip = $("#btnSkip");

        //programe setting
        var updateTime = 1000;

        //Data
        var realTotal = 0;
        var currentTotal = 0;

        //value
        //var vMemberTotal = 0;
        var vRunDelay = 0; //ms
        var vRunTimer = 0;
        var vDelayTime = 50000; //ms
        var vDbTimer = 0;
        var vDbTimerCurrent = 0;
        var vIsUpdate = true;
        //Running Corebar
        var vRunBar = 0;
        var vEndRunBar = 0;
        //Database Timer
        var vDbBar = 0;
        var vEndDbBar = 0;


        $(document).ready(function () {
            init();

            var tid = setInterval(function () {
                update();
            }, updateTime);
        });

        function init() {
            loadCurrentTotal();

            loadDatabase();
            delayTimeBar.val(vDelayTime);
            delayTimeBox.val(vDelayTime);

            setProg(scoreRunBar, 0);
            scoreRunBar.text('0ms');
            scoreRunBarBegin.text('0ms');
            scoreRunBarEnd.text('0ms');

            setProg(databaseBar, 0);
            databaseBar.text('0ms');
            databaseBarBegin.text('0ms');
            databaseBarEnd.text('0ms');
        }
        
        function update() {
            databaseController();
            sendController();
        }
        //Database
        function databaseController() {
            if (!vIsUpdate) {
                setProg(databaseBar, 0);
                databaseBar.text(0 + 'ms');
                databaseBarEnd.text(vDelayTime + 'ms');
                return;
            }

            if (vDbTimer <= 0) {
                //Time out
                vDbTimer = vDelayTime;
                setProg(databaseBar, 0);
                databaseBar.text(0 + 'ms');
                databaseBarEnd.text(vDelayTime + 'ms');
                vDbTimerCurrent = vDelayTime;
                loadDatabase();
            } else {
                vDbTimer -= updateTime;
                if (vDbTimer < 0)
                    vDbTimer = 0;

                databaseBar.text(vDbTimer + 'ms');
                var persen = (vDbTimer / vDbTimerCurrent) * 100;
                setProg(databaseBar, 100 - persen);
            }
        }
        function loadDatabase() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var obj = jQuery.parseJSON(this.responseText);
                    realTotal = obj.memberTotal;
                    memberTotal.val(realTotal);
                    sendInit();
                }
            };
            xhr.open('get', apiUrl + "/load");
            xhr.send();
        }

        function forceUpdate() {
            vDbTimer = 0;
        }

        //Sender
        function sendInit() {
            var ref = realTotal - currentTotal;
            vRunDelay = vDbTimerCurrent / ref;
            vRunTimer = 0;
        }

        function sendController() {
            if (currentTotal >= realTotal) {
                btnSkip.attr("disabled", true);
                return;
            }

            btnSkip.attr("disabled", false);


            if (vRunTimer <= 0) {
                //Time out
                vRunTimer = vRunDelay;

                setProg(scoreRunBar, 0);
                scoreRunBar.text(0 + 'ms');
                scoreRunBarEnd.text(vRunDelay + 'ms');
                //
                currentTotal++;
                sendScore();
            } else {
                vRunTimer -= updateTime;
                if (vRunTimer < 0)
                    vRunTimer = 0;

                scoreRunBar.text(vRunTimer + 'ms');
                var persen = (vRunTimer / vRunDelay) * 100;
                setProg(scoreRunBar, 100 - persen);
            }
        }

        function skipTimer() {
            if (currentTotal >= realTotal)
                return;

            vRunTimer = 0;
            setProg(scoreRunBar, 0);
            currentTotal++;
            sendScore();
        }

        //data

        function loadCurrentTotal() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var obj = jQuery.parseJSON(this.responseText);
                    currentTotal = obj.memberTotal;
                    sendedScore.text(currentTotal);
                }
            };
            xhr.open('get', apiUrl + "/total");
            xhr.send();
        }

        function onReset() {
            if (confirm("Do you want to reset current total and re run score?")) {
                currentTotal = 0;
                forceUpdate();
            }
        }

        function changedData() {
            if (vDelayTime != delayTimeBox.val()) {

                saveBtn.attr("disabled", false);
                return;
            }

            if (vIsUpdate != updateCheck.prop('checked')) {

                saveBtn.attr("disabled", false);
                return;
            }

            saveBtn.attr("disabled", true);
        }

        function onSave() {
            if (confirm("Are you sure to save and reset timer?")) {
                vDelayTime = delayTimeBox.val();
                vIsUpdate = updateCheck.prop('checked');
                saveBtn.attr("disabled", true);
                vDbTimer = 0;
            }
        }

        function setProg(bar = $, persen = 0) {
            bar.css('width', persen.toString() + '%');
        }

        function setVisible(set = true) {
            set = !set;

            $("#delayTime").prop("disabled", set);
            $("#delayTimeBox").prop("disabled", set);
        }

        function sendScore() {
            var http = new XMLHttpRequest();
            http.open('PUT', apiUrl + '/' + currentTotal, true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    //alert(http.responseText);
                    sendedScore.text(currentTotal);
                }
            }
            http.send();
        }

    </script>
}

