.wrapper { display: table; }

.cell {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#holder {
    width: 595px;
    height: 94px;
    margin: auto;
}

.cntSeparator { display: none; }

.cntDigit {
  /* margin-top: 148px !important;*/
}

    .cntDigit#cnt_0 { /*margin-left: 52px; */}
    .cntDigit#cnt_2 { /* margin-left: 7px; */}
